.dropdown {
  position: relative;
}

.dropdownMenu {
  position: absolute;
  left: 0;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.21);
  border: solid 1px #fe0102;
  width: 100%;
  background: var(--background);
}

.walletConnectBtn {
  min-width: 208px;
  display: flex;
  align-items: center;
  padding: 12px 17px;

  border: 1px solid #fe0102;
  border-radius: 5px;

  span.btnTxt {
    // margin-left: ;
    color: #fe0102;
    font-family: 'Bariol';
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;

    &:focus {
      outline: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .walletConnectBtn {
    min-width: unset;
    display: flex;
    align-items: center;
    padding: 6px 12px;

    border: 1px solid #fe0102;
    border-radius: 5px;

    span.btnTxt {
      margin-left: 5px;
      font-size: 12px;

    }
  }
}