.footer {
  display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0 30px 0;

  .separator {
    display: unset;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;

    .separator {
      display: none;
    }
  }
}